@media (min-width: 768px) {
  .vline-md {
    position: relative;
  }
  .vline-md::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: orange;
    left: 50%;
    transform: translateX(-50%);
  }
}
